body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;

}

.main {
    position: relative;
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 20px;
}

section {
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}


ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    width: 100%;
}

li {
    font-size:20px;
}

.left {
    margin-right: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    margin: 20px;
    flex:1;
    text-align: center;
    background-color: #eeeeff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.close:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.report {
    position: relative;
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 20px;
}

.close {
    position: absolute;
    top:0;
    right:0;
    width: 40px;
    height:40px;
    font-size: large;
    background-color: #eeeeff;
    transition: 0.3s;

}

.shadow {
    display: block; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); /* Semi-transparent shadow */
    z-index: 998; /* Below the plane but above everything else */
}

footer, header{
    margin: 0px 20px 0px 20px;
    background-color: #eeeeff;
}